@import url('https://fonts.googleapis.com/css?family=Montserrat');

.history {
  padding-top: 20px;
  padding-bottom: 50px;
}

.header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 175%;
}
